// ONLY USED BY TESTS
$container: (body, main,); // sin classes only affect direct children of these
$pillar: (p,); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (blockquote,); // hangs right - gets the best views.
$hell: (aside,); // hangs left.

@import '<%= tagName %>/settings';
